language: go

os:
  - linux
  - osx
  - windows

env:
  - GO111MODULE=on

go:
  - 1.14.x

install:
  - GO111MODULE=off go get -v github.com/codeclimate/test-reporter
  - go get -u golang.org/x/lint/golint

before_script:
  - test-reporter before-build
  - |-
      case $TRAVIS_OS_NAME in
        windows)
          choco install make
      esac

script:
  - make test
  - make

after_script:
  - |-
      case $TRAVIS_OS_NAME in
        linux)
          test-reporter after-build --coverage-input-type gocov --exit-code $TRAVIS_TEST_RESULT
      esac

deploy:
  provider: releases
  api_key: $GITHUB_TOKEN
  file: "ggft*.zip"
  cleanup: false
  draft: true
  # on:
    # tags: true
