language: go

os:
  - linux
  - osx
  # - windows

env:
  - GO111MODULE=on

go:
  - 1.15.x

install:
  - GO111MODULE=off go get -v github.com/codeclimate/test-reporter
  - go get -u golang.org/x/lint/golint

before_script:
  - test-reporter before-build
  - |-
      case $TRAVIS_OS_NAME in
        windows)
          choco install make
      esac

script:
  - make test
  - DIST_NAME="ggft_${TRAVIS_OS_NAME}" make dist

after_script:
  - |-
      case $TRAVIS_OS_NAME in
        linux)
          test-reporter after-build --coverage-input-type gocov --exit-code $TRAVIS_TEST_RESULT
      esac

deploy:
  provider: releases
  api_key: $GITHUB_TOKEN_TRAVIS
  file: "ggft*.zip"
  file_glob: true
  cleanup: false
  draft: true
  on:
    branch: travis
    # tags: true
