language: go

os:
  - linux
  - osx
  - windows

env:
  - GO111MODULE=on

go:
  - 1.14.x

install:
  - GO111MODULE=off go get -v github.com/codeclimate/test-reporter

before_script:
  - test-reporter before-build
  - |-
      case $TRAVIS_OS_NAME in
        windows)
          choco install make
      esac
  - export GOOS=${TRAVIS_OS_NAME}
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then export GOOS="darwin" fi

script:
  - make test
  - make

after_script:
  - test-reporter after-build --coverage-input-type gocov --exit-code $TRAVIS_TEST_RESULT
